FlightBookingBot.bot
FlightBookingBotOnAzure.bot
BookingFlightBotLocal.bot
corebot.bot
settings.cmd
env.yml
setup.py
test.ipynb
testjj.py
ngrok.exe
deploymentTemplates
azbot*
__pycache__
.pylintrc
.git
.pytest_cache
.vscode

data
P10_00_presentation*
P10_03_performance_monitoring*